.maincontainer {
    display: inline;
}

.idlir {
    background-color: brown;
}

.akilJcoders {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.span1   {
    font-weight: bold;
}